ENDPOINT=[SAFIRA_ENDPOINT]
API_AUTH_SIGN_IN=[ENDPOINT]
API_AUTH_SIGN_UP=[ENDPOINT]
API_USER_INFO=[ENDPOINT]
API_REFERRALS=[ENDPOINT]
API_BADGES=[ENDPOINT]
API_ATTENDEE=[ENDPOINT]
API_ATTENDEES=[ENDPOINT]
API_LEADERBOARD=[ENDPOINT]
API_IS_REGISTERED=[ENDPOINT]
